$backgroundColor: #efefef;
$backgroundColorHover: #f3f3f3;
$foregroundColor: #1c1c1c;
$foregroundColorHover: #2e2e2e;
$secondaryColor: #3e3e3e;
$softColor: #dfdfdf;
$ultraSoftColor: #e6e6e6;
$white: #ffffff;
